/* * {
  outline: 1px solid red;
} */

.swiper-slide:hover .project_image {
  transform: scale(1.05);
}

.court_block.active .court_txt {
  opacity: 1 !important;
}

/* .horizontal_text.is-black {
  background-size: 100%;
} */
