/* * {
  outline: 1px solid red;
} */

[img-ph] {
  overflow: hidden;
  position: relative;
  animation: blink 2s infinite none;
}

.btn:hover .btn_bg {
  opacity: 100%;
}

.nav_item:hover .nav_icon {
  color: #ee1c25;
}

.feature_card:hover .feature_card_text.is-red {
  opacity: 100%;
}

.feature_card:hover .card_icon.is-red {
  opacity: 100%;
}

.feature_card:hover .card_icon {
  opacity: 0%;
}

.swiper {
  overflow: visible !important;
}
.swiper-slide {
  transition-property: all !important;
}

.swiper-pagination {
  position: static;
  display: flex;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 20%;
  width: 14px;
  height: 14px;
  border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 100%;
}

/* If the element has both img-ph and no-anim attribute, disable animation */
[img-ph][no-anim] {
  animation: none;
}

.about_item.active .about_content {
  opacity: 1;
}

.about_item.active .about_overlay {
  opacity: 1;
}

.about_item.active .about_image {
  filter: saturate(100%);
}

@keyframes blink {
  0%,
  100% {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.09);
  }
}
