/* * {
  outline: 1px solid red;
} */

.swiper-slide:hover .project_image {
  transform: scale(1.05);
}

.header.active .header_bg {
  opacity: 1;
}

.swiper-slide.swiper-slide-active {
  transform: scale(1.1) rotate(0deg) translate(0px, 0px) !important;
}

.swiper-slide-active .mask_blur {
  opacity: 0;
}
.swiper-slide-active .testimonial_image {
  opacity: 0;
}

.swiper-slide.swiper-slide-prev {
  transform: scale(0.9) rotate(-3deg) translate(-15px, 0px) !important;
}

.swiper-slide.swiper-slide-next {
  transform: scale(0.9) rotate(3deg) translate(15px, 0px) !important;
}

.swiper-slide {
  transform: scale(0.8) !important;
}

.swiper {
  overflow: visible;
}
