/* * {
  outline: 1px solid red;
} */

.swiper-slide:hover .project_image {
  transform: scale(1.05);
}

.header.active .header_bg {
  opacity: 1;
}

.swiper {
  overflow: visible !important;
}

.swiper-slide-active .mask_blur {
  opacity: 0 !important;
}
.swiper-slide-active .testimonial_image,
.swiper-slide-active .testimonial_glow {
  opacity: 1 !important;
}

.swiper-slide.swiper-slide-active {
  transform: scale(1.1) rotate(0deg) translate(0px, 0px) !important;
  opacity: 1 !important;
}

.swiper-slide.swiper-slide-prev {
  transform: scale(0.9) rotate(-3deg) translate(-25px, 0px) !important;
  opacity: 1 !important;
}

.swiper-slide.swiper-slide-next {
  transform: scale(0.9) rotate(3deg) translate(25px, 0px) !important;
  opacity: 1 !important;
}

.swiper-slide {
  transform: scale(0.9) !important;
  opacity: 0 !important;
  transition-property: all !important;
}

.swiper {
  overflow: visible;
}

.toggle_check .toggle_icon_check {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.toggle_check.active .toggle_icon_check {
  opacity: 100%;
}
