/* * {
  outline: 1px solid red;
} */

html,
body {
  max-width: 100%;
  overflow-x: clip;
}

[fade-animation] {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(8px);
}

[img-ph] {
  overflow: hidden;
  position: relative;
  animation: blink 2s infinite none;
}

.btn:hover .btn_txt {
  transform: translateY(-18px);
}

.btn:hover .btn_txt.top {
  opacity: 0;
  filter: blur(5px);
}

.btn:hover .btn_txt.bottom {
  opacity: 1;
  filter: blur(0px);
}

/* If the element has both img-ph and no-anim attribute, disable animation */
[img-ph][no-anim] {
  animation: none;
}

@keyframes blink {
  0%,
  100% {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.09);
  }
}
