/* * {
  outline: 1px solid red;
} */

html,
body {
  max-width: 100%;
  overflow-x: clip;
}

[img-ph] {
  overflow: hidden;
  position: relative;
  animation: blink 2s infinite none;
}

/* If the element has both img-ph and no-anim attribute, disable animation */
[img-ph][no-anim] {
  animation: none;
}

@keyframes blink {
  0%,
  100% {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.09);
  }
}
