/* * {
  outline: 1px solid red;
} */

html,
body {
  max-width: 100%;
  overflow-x: clip;
}

[fade-animation] {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(8px);
}

[img-ph] {
  overflow: hidden;
  position: relative;
  animation: blink 2s infinite none;
}

.btn:hover .btn_txt {
  transform: translateY(-1em);
}

.btn:hover .btn_txt.top {
  opacity: 0;
  filter: blur(3px);
}

.btn:hover .btn_txt.bottom {
  opacity: 1;
  filter: blur(0px);
}

.btn:hover .btn_background {
  opacity: 1;
}

.social_wrap:hover .social_chip {
  transform: translate(50%, -25px);
  opacity: 1;
  filter: blur(0px);
}

.future_card:hover {
  border: 1px solid #11d1fc;
  color: rgba(0, 0, 0, 0.7);
}

.future_card:hover .future_card_bg.active {
  opacity: 100%;
}

.future_card:hover .future_card_bg.unactive {
  opacity: 0%;
}

.future_card:hover .future_card_heading.active {
  opacity: 100%;
}

.future_card:hover .future_card_heading.unactive {
  opacity: 0%;
}

.feature_card:hover .feature_card_ray {
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.feature_card:hover .feature_card_heading {
  color: #11d1fc;
}
.feature_card:hover .feature_card_text {
  opacity: 1;
}

.team_block:hover .team_image {
  transform: translate(0%, -15px);
}

/* If the element has both img-ph and no-anim attribute, disable animation */
[img-ph][no-anim] {
  animation: none;
}

@keyframes blink {
  0%,
  100% {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.09);
  }
}
