tml,
body {
  max-width: 100%;
  overflow-x: clip;
}

.pswp--zoomed-in .plus_svgpath {
  opacity: 0;
}

[fade-animation] {
  opacity: 0;
  transform: translateY(30px);
}

@media (max-width: 768px) {
  ul {
    list-style: none;
  }
  ul li span {
    display: inline-block;
    position: relative;
  }
  ul li span::before {
    content: "";
    width: 15px;
    height: 10.5px;
    position: absolute;
    left: -1.2em;
    top: 0.26em;
    background: url("https://cdn.prod.website-files.com/675b2366b8047c66057f0ae8/6773f335b4c306c65fc1d6ef_check.svg")
      no-repeat center;
    background-size: cover;
  }

  .card li span::before {
    opacity: 0.7;
  }
}
