.button.is-top {
  transform-origin: 50% 100% 0;
  transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1) 0s,
    -webkit-transform 0.35s cubic-bezier(0.76, 0, 0.24, 1) 0s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.button.is-bottom {
  transform-origin: 50% 0 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);

  transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1) 0s,
    -webkit-transform 0.35s cubic-bezier(0.76, 0, 0.24, 1) 0s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.button_wrapper:hover .button.is-bottom {
  -webkit-transform: rotateX(0deg) translateY(-100%);
  transform: rotateX(0deg) translateY(-100%);
  background-color: #060318;
}

.button_wrapper:hover .button.is-top {
  -webkit-transform: rotateX(-90deg) translateY(-100%);
  transform: rotateX(-90deg) translateY(-100%);
}

/* Get Started */
.get_started {
  /* Group 33 */

  position: absolute;
  width: 38px;
  height: 38px;
  left: 633px;
  top: 939px;
}
