.team_container {
  position: relative;
  overflow: visible !important;
}

.team_container::after {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 400px;
  height: 100%;
  background: linear-gradient(to right, #06031800, #060318 50%);
}

.team_container::before {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 400px;
  height: 100%;
  background: linear-gradient(to left, #06031800, #060318 50%);
}
