/* * {
  outline: 1px solid red;
} */
.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
  filter: blur(0px);
}

.swiper-slide {
  opacity: 0 !important;
  filter: blur(12px);
  transition-property: all !important;
}
