/* * {
  outline: 1px solid red;
} */

select {
  appearance: none; /* remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* @media screen and (max-width: 991px) {
  .auto_video {
    display: none;
  }
} */
