/* * {
  outline: 1px solid red;
} */

.swiper-slide.swiper-slide-active {
  opacity: 100% !important;
  scale: 1 !important;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  opacity: 30% !important;
  scale: 0.9 !important;
}

.swiper-slide {
  opacity: 0 !important;
  scale: 0.5 !important;
  transition-property: all !important;
  transition-duration: 0.5s !important;
}

[data-wf--button--variant="base"] .btn:before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: blur;
  background: linear-gradient(
    to left,
    transparent 0%,
    #fff 40%,
    #fff 60%,
    transparent 100%
  );
  transform: translate(-100%, -25%) rotate(10deg);
  pointer-events: none;
}

[data-wf--button--variant="base"] .btn:hover:before {
  animation: blick 5s infinite;
}

@keyframes blick {
  0% {
    transform: translate(-100%, -25%) rotate(10deg);
  }
  20% {
    transform: translate(100%, -25%) rotate(10deg);
  }
  100% {
    transform: translate(100%, -25%) rotate(10deg);
  }
}

/* When any card is hovered, dim all cards */
.partners:has(.partner-card:hover) .partner-card {
  opacity: 0.4;
}

/* Keep the hovered one fully visible */
.partner-card:hover {
  opacity: 1 !important;
}
