/* * {
  outline: 1px solid red;
} */

.swiper-slide:hover .project_image {
  transform: scale(1.05);
}

.btn:hover .btn_bg {
  left: -100%;
  bottom: -100%;
}

.video_button:hover .play_icon {
  transform: translateX(2px);
}

.backed_item.unactive .backed_container {
  opacity: 0.1;
  transition-duration: 200ms !important;
}
.backed_item.active .backed_title {
  opacity: 1 !important;
}
