/* * {
  outline: 1px solid red;
} */

.swiper-slide:hover .project_image {
  transform: scale(1.05);
}

.btn:hover .btn_bg {
  left: -100%;
  bottom: -100%;
}

.video_button:hover .play_icon {
  transform: translateX(2px);
}

.backed_item.unactive .backed_container {
  opacity: 0.1;
}
.backed_item.active .backed_title {
  opacity: 1 !important;
}

.header.active .nav_wrapper {
  width: 450px;
  filter: drop-shadow(rgba(0, 0, 0, 0.13) 0px 2px 40px);
  padding-block: 20px;
}

.header.active .nav_cta {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.2s !important;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
}
