/* * {
  outline: 1px solid red;
} */

[img-ph] {
  overflow: hidden;
  position: relative;
  animation: blink 2s infinite none;
}

/* If the element has both img-ph and no-anim attribute, disable animation */
[img-ph][no-anim] {
  animation: none;
}

.portfolio_card:hover {
  color: white;
}
.portfolio_card:hover .is-active {
  opacity: 100%;
}

.hero_video_wpr:hover .hero_video_btn {
  scale: 1.2;
}

@keyframes blink {
  0%,
  100% {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.09);
  }
}
